@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


.hero{
  background-image: url(./img/background.png);
 background-repeat: no-repeat;
 background-size: cover;
}

.buttons{
  gap: 8px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 11px; 
   color: white;
}

.bg_button{
  background-color: #23A6F0;
}

.cards{

}

.cards-life{
  
  display: flex;
  align-items: center;
  gap: 30px;
}
.card-life{
  background: white;
  width: 328px;
  height: 201px;
  padding: 26px 30px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
 
}
.card-life h2{
  font-size: 24px;
  font-weight: bold;
   margin-bottom: 7px;
   margin-top: 7px;
}
.card-life p{
  font-weight: medium;
  font-size: 14px;
  color: #737373;
}
.bg-blue{
  background: #23A6F0;
  color: white;
}
.bg-blue p{
  color: white;
}


.features{
  width: 805px;
  height: 334px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
  margin-top: 200px;
}
.feature{
  width: 252px;
  height: 186px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 31px 38px;
}
.feature h2{
  font-weight: bold;
  font-size: 16px;

}
.feature p{
  text-align: center;
  color: #737373;
  font-size: 14px;
  font-weight: medium;
}

.industry {
 width: 100%;
 height: 800px;
 display: flex;
 flex-direction: column;
 gap: 10px;
 margin-top: 70px;

}



 .industry h2  {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
 }
.industry p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.cards-yes {
  width: 100%;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;

}

.card {
  background-color: white;
  border-radius: 16px;
  padding: 32px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-image {
  width: 149px;
  height: 149px;
  border-radius: 50%;
  margin: 0 auto 24px;
  overflow: hidden; 
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  color: #737373;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 24px;
  font-weight: 500;
}

.card-stars {
  display: flex;
  justify-content: center;
  ga